/* Reset default browser styles */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #9feaff;
  display: flex;
  justify-content: center;
  align-items: center;
  height:auto;
  scroll-behavior: smooth;
}

/* Common styles for text alignment */
.App {
  text-align: center;
}

/* Logo styles */
.App-logo {
  height: 40vmin;
  pointer-events: none;

  @media (prefers-reduced-motion: no-preference) {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* Header styles */
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* Link styles */
.App-link {
  color: #61dafb;
}

/* Keyframes for logo spin */
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.categories {
  display: flex;
  flex-direction: column; /* This will align the categories from top to bottom */
  gap: 20px; /* You can adjust the gap between categories as needed */
}

.category {
  border: 1px solid #000000;
  padding: 10px;


  /* Media query for screens smaller than 768px (e.g., most mobile devices) */
  @media (max-width: 768px) {
    display:flexbox;
    grid-template-columns: 1fr;
    gap: 5px;
    justify-content: space-between;
  }

  /* Media query for screens smaller than 480px (e.g., smaller mobile devices) */
  @media (max-width: 480px) {
    padding: 8px;
  }

  /* Adjust font size for smaller screens */
  @media (max-width: 320px) {
    font-size: 14px;
  }
}
/* Total item counter styles */
.total-items {
  text-align: center;
  font-size: 18px;
  margin-top: 20px;
}

/* Labels styles */
.labels {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;
}

.label {
  margin: 5px;
  padding: 5px 10px;
  border: 1px solid #000000;
  font-size: 30px;
}

p {
  font-size: 30px;
}

/* Input and select styles */
input[type="text"],
select {
  padding: 10px;
  border: 1px solid #000000;
  border-radius: 4px;
  margin-right: 10px;
  width: 80%;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 20px;
  text-align: center;
}

::placeholder {
  text-align: center;
  font-size: 20px;
}

/* Button styles */
button {
  padding: 10px ;
  background-color: #ff0000;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
  justify-content: space-between;
  margin-left:auto;
  font-size: 17px;
}

/* Styles for the 'Add Item' button */
.additem {
  background-color: #003cff;
  margin-bottom: 30px;
}

/* Category list styles */
.category-list {
  list-style: none;
  padding: 0;
  margin: 10px 0;
}

li {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1px 0;
  font-size: 23px;
 
}

h2{
  font-size: 50px;
 
}

